{% extends "layout.html" %} {% block content%}

<!--Accordion wrapper-->
<div
  class="accordion md-accordion"
  id="accordionEx"
  role="tablist"
  aria-multiselectable="true"
>
  <!-- Accordion card -->
  <div class="card">
    <!-- Card header -->
    <div class="card-header" role="tab" id="headingOne1">
      <a
        data-toggle="collapse"
        data-parent="#accordionEx"
        href="#collapseOne1"
        aria-expanded="true"
        aria-controls="collapseOne1"
      >
        <h5 class="mb-0">
          Collapsible Group Item #1
          <i class="fas fa-angle-down rotate-icon"></i>
        </h5>
      </a>
    </div>

    <!-- Card body -->
    <div
      id="collapseOne1"
      class="collapse show"
      role="tabpanel"
      aria-labelledby="headingOne1"
      data-parent="#accordionEx"
    >
      <div class="card-body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus
        vero facilis eligendi illo temporibus laboriosam accusamus ut minus,
        recusandae ipsum suscipit dolores facere officia aliquam distinctio
        illum magni rem? Nostrum? Lorem, ipsum dolor sit amet consectetur
        adipisicing elit. Rem praesentium quia rerum at, adipisci numquam
        deleniti consectetur doloribus quidem itaque, ipsa officia facere sunt
        fugiat tempora. Culpa fugiat voluptatum soluta! Lorem ipsum dolor sit
        amet consectetur adipisicing elit. Dolorum optio rerum temporibus
        assumenda, natus, odit ipsum voluptatibus asperiores, quod iure
        repudiandae? Repudiandae asperiores aperiam alias placeat, culpa
        deserunt dicta molestiae.
      </div>
    </div>
  </div>
  <!-- Accordion card -->

  <!-- Accordion card -->
  <div class="card">
    <!-- Card header -->
    <div class="card-header" role="tab" id="headingTwo2">
      <a
        class="collapsed"
        data-toggle="collapse"
        data-parent="#accordionEx"
        href="#collapseTwo2"
        aria-expanded="false"
        aria-controls="collapseTwo2"
      >
        <h5 class="mb-0">
          Collapsible Group Item #2
          <i class="fas fa-angle-down rotate-icon"></i>
        </h5>
      </a>
    </div>

    <!-- Card body -->
    <div
      id="collapseTwo2"
      class="collapse"
      role="tabpanel"
      aria-labelledby="headingTwo2"
      data-parent="#accordionEx"
    >
      <div class="card-body">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni, aut.
        Voluptatum, iste reprehenderit? At, voluptatibus impedit. Provident eos,
        impedit blanditiis, accusantium ut ipsam odit eligendi nemo non
        nesciunt, est accusamus! Lorem ipsum dolor sit amet consectetur,
        adipisicing elit. Quaerat praesentium cupiditate quis odit ducimus, sed
        at debitis? Officiis quia sequi laboriosam exercitationem tempore
        consequatur odio optio commodi est repudiandae. Aspernatur.
      </div>
    </div>
  </div>
  <!-- Accordion card -->

  <!-- Accordion card -->
  <div class="card">
    <!-- Card header -->
    <div class="card-header" role="tab" id="headingThree3">
      <a
        class="collapsed"
        data-toggle="collapse"
        data-parent="#accordionEx"
        href="#collapseThree3"
        aria-expanded="false"
        aria-controls="collapseThree3"
      >
        <h5 class="mb-0">
          Collapsible Group Item #3
          <i class="fas fa-angle-down rotate-icon"></i>
        </h5>
      </a>
    </div>

    <!-- Card body -->
    <div
      id="collapseThree3"
      class="collapse"
      role="tabpanel"
      aria-labelledby="headingThree3"
      data-parent="#accordionEx"
    >
      <div class="card-body">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam
        dignissimos tempore quos dicta sint, saepe excepturi fugit animi eaque
        sed reiciendis quis, magni sapiente libero. Nostrum laboriosam quasi
        beatae tempore. Lorem ipsum dolor sit amet consectetur, adipisicing
        elit. Repellendus explicabo, quaerat ex libero id quo hic laborum sed
        harum! Ab non iste nostrum cupiditate veniam dolore magnam quo magni
        soluta? haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <!-- Accordion card -->
</div>
<!-- Accordion wrapper -->

{% endblock %}
